
snippet con "console command"
:console:\`\$ ${0}\`
endsnippet

snippet dir "directory"
:dir:\`${0}\`
endsnippet

snippet ter "terminal output" 
      .. class:: terminal

      ::
	    
		${0}
endsnippet

